*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #555;
    font-size: 14px;
    font-weight: 400;
}

$success: #a6cc93;
$successTxt: #2a411f;
$error: #cc9393;
$errorTxt: #555;
$border: #acb0bf;
$color: #222;
$link: #9397cd;

input:not([type="checkbox"]):not([type="radio"]) {
    padding: .5rem 1rem;
    border: 1px solid $border;
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,.15);
    font-size: 1em;
    color: $color;
}

.error, .success {
    padding: .8rem 1rem;
    margin: 1rem 0;
    background: $error;
    border-radius: 4px;
    color: $errorTxt;

    p {
        padding: 0;
        margin: 0;
    }
}

.success {
    background-color: $success;
    color: $color;
}

.suggestions {
    border-radius: 4px;
    color: $successTxt;

    h4 {
        margin: 0 0 1rem;
    }

    button {
        padding: .3rem 1rem;
        margin: 0;
        border: 0;
        border-radius: 4px;
        box-shadow: inset 0 0 0 1px #acb0bf, 0 1px 2px rgba(0,0,0,.1);
        background: #fff;
        color: $color;
        cursor: pointer;

        &:hover, &:focus {
            background: #eee;
        }
    }

    button + button {
        margin-left: .5rem
    }
}

.select-mask {
    position: relative;
    background: white;

    i {
        position: absolute;
        right: .5em;
        margin-top: .3rem;
        z-index: 2;
    }

    select {
        position: absolute;
        width: 100%;
        padding: .55rem;
        background: transparent;
        border: 0;
        border-radius: 2px;
        -webkit-appearance: none;
        appearance: none;
        box-shadow: inset 0 0 0 1px #acb0bf, 0 1px 2px rgba(0,0,0,.1);
    }
}

a {
    color: $link;
    text-decoration: none;

    &:hover, &:focus {
        color: $color;
        text-decoration: underline;
    }
}

.btn {
    padding: .9rem 1.5rem;
    border: 0;
    text-transform: uppercase;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    cursor: pointer;
    transition: all .3s ease-out;
}

.btn-submit {
    background: $link;
    color: #fff;
    font-size: 1.1em;

    &:hover, &:focus {
        background-color: #8286c5;
    }
}

[data-name="bottom"] {

    .field-email {
        label {
            display: none;
        }

        input {
            width: 100%;
        }
    }

    .signupSubmit {
        text-align: center;
        margin-top: 3rem;

        .link {
            display: block;
            margin-top: 1rem;
        }
    }
}

[data-name="top"] {

    .field-usernameInput {
        display: flex;
        flex-wrap: wrap;

        .error, .success {
            width: 100%;
        }
    }

    .field-select {
        flex: 1;
        margin-left: .5rem;
    /*    right: 0;*/
        display: flex;
        align-items: center;

        .select-mask {
            flex: 1;
            align-self: baseline;
        }

        &::before {
            content: '@';
            width: 1rem;
            margin-right: .5rem
        }
    }

    .field-usernameInput label, .field-select label {
        display: none;
    }
}

